@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  background-color: #c4afd8;
}

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
.header {
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 700;
  font-size: 32px;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  text-decoration: underline
}

a:hover {
  text-decoration: underline;
}


/* Loader */
.loader-container {
  /* border: blue 2px dotted; */
}

/* Starting page */
.startingpage-container {
  margin: 200px auto auto auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Main Page */
.main-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.list-item {
  padding: 25px;
  font-weight: 500;
  color: black;
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f4e8e1;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

p {
  background-color: #f4e8e1;
}

span {
  font-weight: 700;
  background-color: #f4e8e1;
}

li {
  background-color: #f4e8e1;
}

button {
  border: none;
  background-color: transparent;
  color: black;
  font-family: 'EB Garamond', serif;
  padding: 0.3em;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  text-decoration: underline;
}

.single-item-container {
  padding: 15px;
  font-weight: 500;
  color: #861744;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #861744;
}


/* Media Queries */
@media (max-width: 724px) {
  .navbar {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    gap: 0;
  }
}